{% load el_pagination_tags %}

{% paginate 20 object_list %}
{%for obj in object_list%}
<table class="table item">
      <tbody>
        <tr>
          <td>({{obj.timestamp | date:"SHORT_DATE_FORMAT" }})<a title="Просмотреть все релизы" href='{%url "detail" id=obj.AnimeTitle.id%}'>{{obj.title}}</a></td>
          <td class = 'quality'>
          <a href="{{obj.p480}}">480p</a>
          <a href="{{obj.p720}}">720p</a>
          <a href="{{obj.p1080}}">1080p</a>
          <a href="{{obj.sub_file}}">Субтитры</a>
          </td>
        </tr>
      </tbody>
</table>
{%endfor%}
{% show_more "Загрузить еще" "Загрузка..."%}
